<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Loginstyles.css') }}">
    <title>Login</title>
</head>
<body>
    <!-- Login Form -->
    <form action="/login" method="post">
        <h3>MyNotesApp LogIn</h3>

        <!-- Username Input -->
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required><br>
        
        <!-- Password Input -->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required><br>
        
        <!-- Submit Button -->
        <button type="submit">Log In</button>

        <!-- Error Message (if any) -->
        {% if msg %}
            <p class="error">{{ msg }}</p>
        {% endif %}

        <!-- Registration Option -->
        <span class="options">Dont Have An Account Yet? <a href="/signup">Sign Up Here</a></span>
    </form>
</body>
</html>
